.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15em;
  margin-bottom: 30px;
}

.btnvoltar {
  height: 4rem;
  width: 12rem;
  margin-right: 50px !important;
  position: fixed;
}

.btnvoltar:hover {
  background-color: #e6e6e6 !important;
  color:#000;
  border-color: #e6e6e6 !important;
}


.btnfinalizar {
  height: 4rem;
  width: 40rem;
}

.btnfinalizar:hover {
  background-color: #e6e6e6 !important;
  color:#000;
  border-color: #e6e6e6 !important;
}

@media(max-width: 900px) {
  .footer {
    width: 90%;
    margin-top: 10em;
  }
}
